---
layout: default
comments: false
---

<div class="home">

    <h1 class="page-title">Using GNU Emacs as a Development Environment</h1>
    <hr />
    <p class="page-content">Articles focused on Emacs tasks (not packages). Be more productive using Emacs as an Integrated Development Environment.</p>

    {% include docs_by_category.html %}

    <p>Or browse articles by the other <a href="/editors">editors features in Emacs</a>.</p>

    {% comment %} Show drafts locally when running the server with --drafts {% endcomment %}
    {% for post in site.posts  %}
    {% if post.path contains 'drafts' %}
    <p>
	Draft: <a href="{{ post.url }}">{{post.title}}</a>
    </p>
    {% endif %}
    {% endfor %}
    
</div>
