<div class="site-footer">
    <div id="sharecontainer">
	<ul>
	    <li> {% include share_twitter_big.html url=page.url text=page.title %} </li>
	    <li> {% include share_google_big.html %} </li>
	    <li> {% include share_facebook_big.html url=page.url %}	</li>
	</ul>
    </div>
    <div class="wrapper">
	<div id="comments">
	    {% if page.comments %}
	    <div>
		{% include disqus.html %}
	    </div>
	    {% endif %}
	</div>
    </div>
</div>

<footer class="site-footer bg-faded">
    <div class="container">
	<div class="row">
	    <div class="col-md-5 offset-md-1">
		<h2 class="footer-heading">{{ site.title }}</h2>
		<ul class="social-media-list">
		    <li>
			<i class="fa fa-envelope text-muted" aria-hidden="true"></i>
			<a href="mailto:{{ site.email }}">{{ site.email }}</a>
		    </li>
		    {% if site.github_username %}
		    <li>
			<i class="fa fa-github text-muted" aria-hidden="true"></i>
			<a href="https://github.com/{{ site.github_username }}" target="_blank">
			    <span class="username">{{ site.github_username }}</span>
			</a>
		    </li>
		    {% endif %}

		    {% if site.twitter_username %}
		    <li>
			<span class="fa fa-twitter text-muted"></span>
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
			    <span class="username">@{{ site.twitter_username }}</span>
			</a>
		    </li>
		    {% endif %}
		</ul>

	    </div>
	    <div class="col-md-5">
		<div class="">
		    <p class="text">{{ site.description }}</p>
		    <nav class="navbar navbar-light">
			<ul class="nav navbar-nav">
			    {% for nav in site.data.nav %}
			    {% assign active_class = "" %}
			    {% if page.url contains nav[1].url and nav[1].url != "/" %}
			    {% assign active_class = "active" %}
			    {% endif %}
			    <li class="nav-item {{active_class}}">
				<a class="nav-link" href="{{nav[1].url}}">{{nav[1].name}}</a>
			    </li>
			    {% endfor %}
			</ul>
		    </nav>
		</div>
		
	    </div>
	</div>
    </div>
</footer>


