<header class="site-header mb-2">
    <nav class="navbar navbar-light bg-faded">
	<div class="container">
	    <div class="row">
		<div class="col-md-5 offset-md-1">
		    <a class="navbar-brand" href="/">
			<img src="/assets/emacside-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="Emacside logo">
			{{ site.title }}
		    </a>
		    <ul class="nav navbar-nav">
			{% for nav in site.data.nav %}
			{% assign active_class = "" %}
			{% if page.url contains nav[1].url and nav[1].url != "/" %}
			{% assign active_class = "active" %}
			{% endif %}
			{% if nav[1].subcategories%}
			<li class="nav-item dropdown {{active_class}}">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{nav[0] | capitalize}}
			    </a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				{% for subcategory in nav[1].subcategories %}
				<a class="dropdown-item" href="{{ subcategory[1].url }}">
				    {{ subcategory[0] | capitalize }}
				</a>
				{% endfor %}
			    </div>
			</li>
			{% endif %}
			{% endfor %}
		    </ul>

		</div>
	    </div>
	</div>
    </nav>
</header>
