---
layout: default
comments: true
---
<div class="post">

  <article class="post-content">

      <header class="post-header">
	  <h1 class="post-title">{{ page.header }} </h1>
	  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <div>
        <p>{{ page.description }}</p>
	<h2 class="post-title" id="overview"> Overview </h2>
        <ul> 
		{% for step in page.usecase %}
		<li>
			{{ step }}
		</li>
		{% endfor %}
        </ul>
      </div>

      <div>
	      <h2>Contents</h2>
	      <ul id="toc" class="nav">
		      <li><a href="#overview">Overview</a></li>
		      <li>Alternatives</li>
		      <ul>
			      {% for screencast in page.screencasts %}
			      <li><a href="#{{ screencast.title | replace:' ','-' }}">{{ screencast.title }}</a></li>
			      {% endfor %}
		      </ul>
		      <li><a href="#commands">Commands Reference</a></li>
		      <li><a href="#reading">Further reading</a></li>
		      <li><a href="#others">Other editors name</a></li>
	      </ul>
      </div>

      <div>
	{% for screencast in page.screencasts %}
	<h3 class="post-title" id="{{ screencast.title | replace:' ','-' }}">{{ screencast.title }}</h3>
	<h4 class="post-title"> Use case </h4>
        <ul> 
		{% for step in screencast.usecase %}
		<li>
			{{ step }}
		</li>
		{% endfor %}
        </ul>
	<video width="{{ screencast.video.width }}" height="{{ screencast.video.height }}" autoplay="autoplay" loop="loop">
	  <source src="/screencasts/{{ screencast.video.filename }}" type="video/{{ screencast.video.type }}">
	    Your browser does not support the video tag.
	</video> 
        <div>
	  <h4>Transcription</h4>
   	  {% highlight emacs %}
	  {{ screencast.keys }}
	  {% endhighlight %}
	  {% endfor %}
	</div>
      </div>

      <div class="commands" >
        <h3 id="commands">Commands Reference</h3>
	<ul>
          {% for command in page.commands %}
            <li>
              <kbd>{{ command.keys }} </kbd>
              <code> {{ command.function }} </code>
              <blockquote>{{ command.desc }}</blockquote>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
	<h3 id="reading">Further Reading</h3>
	<ul>
	  {% for tag in page.tags %}
          {% assign tag_prefix = tag | split: '-' | first %}
          {% if tag_prefix == 'package' %}
	  <li> {{ tag }} </li>
	  <ul>
	  {% for url in site.data.tags[tag].urls %}
	    <li>
	    <a href="{{ url }}">{{ url }}</a>
	    </li>
	  {% endfor %}
	  </ul>
          {% endif %}
	  {% endfor %}
        </ul>
      </div>

      <div>
	  <h3 id="others">Also known as:</h3>
	  <ul>
	      {% for editor in page.editors %}
	      {% for item in editor %}
	      {% assign editor_id = editor[0] %}
	      {% if item.title %} {% comment %}omit first blank line {% endcomment %}
	      <li>
		  <a href="{{item.url}}" rel="nofollow">{{ item.title }}</a> 
                  in 
                  <a href="/{{ site.tag['page']['dir'] }}/{{ editor_id }}"><em>{{ site.data.tags[editor_id].name }} </em></a> 
	          <blockquote>{{ item.description }}</blockquote>
	      </li>
	      {% endif %}
	      {% endfor %}
	      {% endfor %}
	  </ul>
      </div>
      {{ content }}
  </article>

</div>
