---
layout: default
comments: true
---

<hr>
<div class="post">

    <article class="post-content">
	{% include post_header.html %}

	{{ content }}

	<div>
	    <h2>Content</h2>
	    <ul class="nav">
		<li class="nav-item">
		    <a class="nav-link" href="#solutions">Solutions</a>
		    <ul class="nav">
			{% for solution in page.solutions %}
			<li class="nav-item">
			    <a class="nav-link active" href="#{{ screencast.title | replace:' ','-' }}">
				{{ screencast.title }}
			    </a>
			</li>
			{% endfor %}
		    </ul>
		</li>
		<li class="nav-item">
		    <a class="" href="#reading">
			Further reading
		    </a>
		</li>
		<li class="nav-item">
		    <a class="" href="#others">
			Known as
		    </a>
		</li>
	    </ul>
	</div>

	<div id="solutions">
	    <h2>
		Solutions
	    </h2>
	    
	    <div>
		{% comment %} embed a *playlist* with all solutions {% endcomment %}
		{% include youtube_iframe.html youtube_id=page.youtube_id %}
	    </div>
	    
	    {% for solution in site.documents %}
	    {% comment %} if current slug is part of a solution path then show it {% endcomment %}

	    <div class="list-group my-1">
		{% if solution.path contains page.slug and solution.id != page.id %}
		
		<a href="{{solution.url}}" class="list-group-item list-group-item-action">
		    {{ solution.title }}
		</a>

		{% endif %}
	    </div>
	    {% endfor %}<!-- end solutions -->

	</div>

	<div>
	    <h2 id="reading">Further Reading</h2>
	    <ul>
		{% for tag in page.tags %}
		{% assign tag_prefix = tag | split: '-' | first %}
		{% if tag_prefix == 'package' %}
		<li> {{ tag }} </li>
		<ul>
		    {% for url in site.data.tags[tag].urls %}
		    <li>
			<a href="{{ url }}">{{ url }}</a>
		    </li>
		    {% endfor %}
		</ul>
		{% endif %}
		{% endfor %}
            </ul>
	</div> <!-- end further reading -->

	<div>
	    <h2 id="others">Also known as:</h2>
	    <ul>
		{% for an_editor in page.editors %}
		{% assign editor_id = an_editor | first %}
		{% assign editor = site.editors | where:"slug", editor_id | first %}
		{% for feature in an_editor %}
		{% if feature.title %} {% comment %}omit first blank line {% endcomment %}
		<li>
		    <a href="{{feature.url}}" rel="nofollow">{{ feature.title }}</a> 
                    in 
                    <a href="{{editor.id}}"><em>{{ editor.title }} </em></a> 
	            <blockquote>{{ feature.description }}</blockquote>
		</li>
		{% endif %}
		{% endfor %}
		{% endfor %}
	    </ul>
	</div>
    </article>
</div>
